<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <!-- обязательный элемент это  xsi:schemaLocation  -->
    <!-- xmlns схемы поверки для нашего XML  -->

    <!-- тут можно описывать сервлеты и маппинг  -->
    <servlet>
        <!-- можно написать лююое имя как в аннотации @WebServlet  -->
        <servlet-name>name</servlet-name>
        <servlet-class>ee.servlet.WebXMLServlet</servlet-class>
        <!-- можно описать параметры, которое можно получить в сервлете и использовать  -->
        <init-param>
            <param-name>name</param-name>
            <param-value>Макс</param-value>
        </init-param>
        <init-param>
            <param-name>age</param-name>
            <param-value>25</param-value>
        </init-param>
        <!-- можно укахывать порядок инициализации с 0  -->
        <load-on-startup>0</load-on-startup>
    </servlet>

    <!-- указываем описанное выше имя сервлета и какие запросы на него перекидываем  -->
    <servlet-mapping>
        <servlet-name>name</servlet-name>
        <!-- указываем какой запрос перекидыввем на этот севрлет  -->
        <url-pattern>/servlet</url-pattern>
    </servlet-mapping>

    <!-- аналогичные выше настройки могут быть и для JSP  -->


    <!-- параметры доступные всем сервлетам и JSP  -->
    <context-param>
        <param-name>email</param-name>
        <param-value>mail@gmail.com</param-value>
    </context-param>
</web-app>